<head>
	<!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']}); //allows standard graphs (column bar line pie etc)
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      // Define the chart to be drawn.
		
		var run1 = ["{{run1.name}}",parseFloat("{{run1.map}}"),parseFloat("{{run1.p10}}"),parseFloat("{{run1.p20}}")];
		var run2 = ["{{run2.name}}",parseFloat("{{run2.map}}"),parseFloat("{{run2.p10}}"),parseFloat("{{run2.p20}}")];
		
		for (var i = 1; i < 4; i++ ){
			if (isNaN(run1[i])){
				run1[i] = 0.0;
			}
		};
		
		for (var i = 1; i < 4; i++ ){
			if (isNaN(run2[i])){
				run2[i] = 0.0;
			}
		};
		
		//need to change 1,2,3 to map p10 and p20		
		var data = google.visualization.arrayToDataTable([
          ['measurement', run1[0], run2[0] ],
          [1, run1[1], run2[1] ],
          [2, run1[2], run2[2] ],
          [3, run1[3], run2[3] ]
        ]);
		
		
		data = new google.visualization.DataTable();
		
		data.addColumn('string','measurement');
		data.addColumn('number',run1[0]);
		data.addColumn('number',run2[0]);
		
		data.addRows([
		["map",run1[1],run2[1]],
		["p10",run1[2],run2[2]],
		["p20",run1[3],run2[3]],
		]);
		
	
	  var options = {'title': '{{name}}',
			   'width':500,
			   'height':500 };
			   
      // Instantiate and draw the chart.
      var chart = new google.visualization.LineChart(document.getElementById('LineChart'));
	  
	  chart.draw(data, options);
    }
  </script>
</head>
<body>

<!-- Identify where the chart should be drawn. -->
{% if name %}
	<div id="LineChart"/>
{% else %}
	Graph does not exist
{% endif %}

</body>