<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %} {{display_name}} {% endblock %}

{% block body_block %}
	<p>

		<h1>Welcome - {{display_name}} </br></h1>
		<div style="width: 70%; float:left">
			<div style="width: 30%;float:left">
			<strong>Organization</strong></div> {{organization}} </br>
			<div style="width: 30%;float:left"><strong>URL</strong></div> <a href = {{url}}> {{url}} </a></br>
			<div style="width: 30%;float:left"><strong>Profile Picture</strong></div> <img src=path/to/images/{{user.get_picture}}"> </br>
		<a href = '/trecapp/updateprofile' align="right"> <button type="button" class="btn btn-primary navbar-btn"> Update Your Profile </button></a>
		</div>
		<div style="width: 30%; float:right" align="right">
		<h3 style="margin:0"> Submitted Runs </h3>
		{% if runs %}
				{% for myRuns in runs %}
						<p><a href=/trecapp/run/{{myRuns.slug}}> {{myRuns.name}} ({{myRuns.MAP}})</a></p>
				{% endfor %}
		{% else %}
				<strong> There are no runs </strong>
		{% endif %}
		</div>
	</p>

{% endblock %}
