<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %} {{name}}{% endblock %}

{% block body_block %}

    <a href = '/trecapp/tasks/{{ task.slug }}'> < {{ task.title }} </a>
    <a href = {{request.META.HTTP_REFERER}}> Go Back </a>

	{% if run %}
		<h1> Run: {{ name }} </h1>
		<div align:"center">
			<div style="width: 30%;float:left">
				<strong>Researcher </br> 
				Description </br>
				Track </br>
				Task</br> 
				Run Type </br>
				Feedback Type </br>
				Query Type</br>
				MAP</br>
				p10</br>
				p20</br></strong>
			</div>
			<div style="width: 50%;float:right">
				<a href = /trecapp/researcher/{{ researcher.slug }}> {{researcher}} </a> </br>
				{{ description }} </br>
				<a href = /trecapp/tracks/{{task.track}}> {{task.track}} </a></br>
				<a href = /trecapp/tasks/{{ task }}> {{ task }} </a> </br>
				{{ run_type }} </br>
				{{ feedback_type }} </br>
				{{ query_type }} </br>
				{{ map }} </br>
				{{ p10 }} </br>
				{{ p20 }} </br>
			</div>
		</div>
		<center>
		<a href="/trecapp/graph/{{run.slug}}"> <button type="submit" class="btn btn-primary navbar-btn"> Graph of this run </button></a>
		<a href="{{request.META.HTTP_REFERER}}"><button type="submit" class="btn btn-primary navbar-btn">Go back</a> </button></br>
		</center>

	{% else %}
		<h4>run does not exist</h4>
	{% endif %}

{% endblock %}
