
<!DOCTYPE html>

{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block title %}{{title}} {% endblock %}

{% block body_block %}

    <a href = '/trecapp/tracks/'> < Tracks </a>
    <a href = {{request.META.HTTP_REFERER}}> Go Back </a>

	{% if track %}
        <h1> {{title}} </h1>
		<p>
		Title - {{ title }}</br>
		Url - {{ url }}</br>
		Decription - {{ description }}</br>
		Genre - {{ genre }}</br>
		</p>
        <h2>Tasks ({{ number }}): </h2>
        {% comment %}{% if tasks %}
            {% for task in tasks %}
                <a href = '/trecapp/tasks/{{ task.slug }}'> {{ task.title }}</a>
            {% endfor %}
        {% else %}
            <strong> No tasks belong to this run. </strong>
        {%  endif %}{% endcomment %}

        {%  render_table table %}
	{% else %}
		Track does not exist
	{% endif %}
{% endblock %}

