<!DOCTYPE html>
{% extends 'base.html' %}

{% load render_table from django_tables2 %}

{% block title %} {{title}} {% endblock %}

{% block body_block %}

<a href='/trecapp/tracks'><button type="submit" class="btn btn-info navbar-btn"><span class="glyphicon glyphicon-chevron-left"></span> Tracks </button></a>

<h1> {{title}} </h1>

<div class="container-fluid">
	{% if track %}
		<div class="row" style="padding:10px 20px 0px 20px">
			<div class="col-sm-6"><!--bigsplit part1-->
				<!--minisplit-->
				<div class="row ">
					<div class="col-sm-4 col-title"><p>URL</div> 
					<div class="col-sm-8"><a href = {{url}}> {{url}} </a></p></div>
				</div>
		
				<div class="row ">
					<div class="col-sm-4 col-title"><strong>Description</div> 
					<div class="col-sm-8">{{ description }}</div>
				</div>
		
				<div class="row ">
					<div class="col-sm-4 col-title"> Genre</div> 
					<div class="col-sm-6"> {{ genre }}</div>
				</div>
				<!--/minisplit-->
		
			</div> <!--/big split part1-->
			<div class="col-sm-6 "><!--bigsplit part2-->
						<h2 style="margin-top:0px">Tasks ({{ number }}): </h2>	
						{% if tasks %}
							<div class="table-responsive">
							{%  render_table table %}
							</div>
						{% else %}
							<div class="row"><strong> No tasks belong to this run. </strong></div>
						{%  endif %}
			</div> <!--/big split part2-->
		{% else %}
		<div class="row">
			<div class="col-sm-12 "><!--nosplit part2-->
			Track does not exist
			</div> <!--/no split part2-->
		{% endif %}
	</div><!--row-->
</div><!--container-->
{% endblock %}

