<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %} Update Profile{% endblock %}

{% block body_block %}

<h1> Update your Profile </h1>

{% if not user.is_authenticated %}
  <strong> You are not registered </strong>
  <a href="/trecapp/"><button type="button" class="btn btn-primary navbar-btn">Return to homepage</button></a><br/>
{% else %}
  <br><strong>Change your details here.... </strong><br/>
	<form id="user_form" method="post" action="/trecapp/updateprofile/" enctype="multipart/form-data">
		{% csrf_token %}
		{{user_update_form.as_p}}
		{{researcher_update_form.as_p}}
		{{verify_user_form.as_p}}
	<button type="submit" class="btn btn-primary navbar-btn" value="Register" align="right"> Submit </button>
	<a href="/trecapp/researcher/{{ user }}"><button type="button" class="btn btn-primary navbar-btn">Cancel</button></a>
  </form>
{% endif %}
{% endblock %}
