<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %} Upload Run{% endblock %}

{% block body_block %}
		<h1> Upload Run </h1>
		Uploading to task: {{ task.title }}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <span style="font-weight:bold">{{ field.help_text }}</span>
                {{ field }}
                <span class="text-danger">{{ field.errors }}</span>
                <br>
            {% endfor %}
              <!--<input type="submit" value="Upload" />-->
              <button type="submit" class="btn btn-primary navbar-btn"> Submit </button>
            </p>

{% endblock %}
